*{
	margin: 0;
	padding: 0;
}

body{
	background: #34e89e;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#map{
	width: 100%;
	height: 100vh;
	border: 2px solid black;
}

.row-botones{
	margin: 0 10%;
}

button{
	margin: 15px 0;
	padding: 10px 15px;
	color: white;
	background-color: #faae27;
	border: 0;
	font-weight: 700;
	border-radius: 2px;
	font-family: "Raleway";
	font-size: 15px;
	display: block;
	width: 100%;
}

button:hover, button:focus{
	outline: 0;
	background-color: rgba(250, 166, 16, 0.2);
	border: 1px solid #faae27;
	color: #faae27;
}

input{
	margin: 15px auto;
	padding: 10px 0;
	width: 100%;
}

/*#encuentrame{
	margin-left: 15px;
}

#ruta{
	margin-right: 15px;
}*/